{% extends "base.html" %}

{% block content %}

<div class="container">
    <h3>Manage your subscriptions</h3>

    <form action="" method="POST">
    {% for cat in categories %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="category" value="{{- cat.arxiv_name -}}"
                {%- if cat in user.subscriptions -%}checked{%- endif -%}>
            {% if not cat.is_parent %}&nbsp;&nbsp;{% endif %}{{ cat.arxiv_name }}
        </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{ url_for('.unsubscribe', token_or_email=user.email) }}" class="btn btn-default">Unsubscribe All</a>
    </form>
</div>

{% endblock %}
